@model Ecommerce.Web.Infrastructure.Core.PaginationSet<Ecommerce.Web.Models.ProductViewModel>
@{
    var keyword = (string)ViewBag.Keyword;
    ViewBag.Title = "Kết quả tìm kiếm cho từ khóa " + keyword;
    Layout = "~/Views/Shared/_Layouts.cshtml";
    var sort = Request["sort"];
}

<section class="page-header">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="trang-chu.html">Trang Chủ</a></li>
            <li class="active">@keyword</li>
        </ul>
    </div>
</section>
<div class="container main-container">
    <div class="wrapper-container">
        <div class="container">
            @if (Model.Count > 0)
            {
                <div class="row">
                    <div class="col-md-9 col-md-push-3">
                        <div class="toolbar mb-none">
                            <h3>Kết quả tìm kiếm: @keyword - <span>@Model.TotalCount sản phẩm</span></h3>
                            <div class="sorter">
                                <form method="GET" name="frmSelect">
                                    <input type="hidden" name="page" value="@Model.PageIndex" />
                                    <input type="hidden" name="keyword" value="@keyword" />
                                    <div class="sort-by">
                                        <label>Sắp xếp theo:</label>
                                        <select name="sort" onchange="frmSelect.submit()">
                                            <option value="popular" selected>Phổ Biến</option>
                                            <option value="discount" @( sort == "discount" ? "selected" : "" )>Khuyến Mãi</option>
                                            <option value="priceASC" @( sort == "priceASC" ? "selected" : "" )>Giá Tăng Dần</option>
                                            <option value="priceDESC" @( sort == "priceDESC" ? "selected" : "" )>Giá Giảm Dần</option>
                                        </select>
                                    </div>
                                </form>
                                <ul class="pagination">
                                    @if (Model.TotalPages > 1)
                                    {
                                        var startPageIndex = Math.Max(1, Model.PageIndex - Model.MaxPage / 2);
                                        var endPageIndex = Math.Min(Model.TotalPages, Model.PageIndex + Model.MaxPage / 2);
                                        if (Model.PageIndex > 1)
                                        {
                                            if (!String.IsNullOrEmpty(sort))
                                            {
                                                <li><a href="?page=1&sort=@sort&keyword=@keyword"><i class="fa fa-angle-double-left"></i></a></li>
                                                <li><a href="?page=@(Model.PageIndex-1)&sort=@sort&keyword=@keyword"><i class="fa fa-caret-left"></i></a></li>
                                            }
                                            else
                                            {
                                                <li><a href="?page=1&keyword=@keyword"><i class="fa fa-angle-double-left"></i></a></li>
                                                <li><a href="?page=@(Model.PageIndex-1)&keyword=@keyword"><i class="fa fa-caret-left"></i></a></li>
                                            }
                                        }
                                        for (int i = startPageIndex; i <= endPageIndex; i++)
                                        {
                                            if (Model.PageIndex == i)
                                            {
                                                if (!String.IsNullOrEmpty(sort))
                                                {
                                                    <li class="active"><a href="?page=@i&sort=@sort&keyword=@keyword" title="Trang @i">@i</a></li>
                                                }
                                                else
                                                {
                                                    <li class="active"><a href="?page=@i&keyword=@keyword" title="Trang @i">@i</a></li>
                                                }
                                            }
                                            else
                                            {
                                                if (!String.IsNullOrEmpty(sort))
                                                {
                                                    <li><a href="?page=@i&sort=@sort&keyword=@keyword" title="Trang @i">@i</a></li>
                                                }
                                                else
                                                {
                                                    <li><a href="?page=@i&keyword=@keyword" title="Trang @i">@i</a></li>
                                                }
                                            }
                                        }
                                        if (Model.PageIndex < Model.TotalPages)
                                        {
                                            if (!String.IsNullOrEmpty(sort))
                                            {
                                                <li><a href="?page=@(Model.PageIndex+1)&sort=@sort&keyword=@keyword"><i class="fa fa-caret-right"></i></a></li>
                                                <li><a href="?page=@Model.TotalPages&sort=@sort&keyword=@keyword"><i class="fa fa-angle-double-right"></i></a></li>
                                            }
                                            else
                                            {
                                                <li><a href="?page=@(Model.PageIndex+1)&keyword=@keyword"><i class="fa fa-caret-right"></i></a></li>
                                                <li><a href="?page=@Model.TotalPages&keyword=@keyword"><i class="fa fa-angle-double-right"></i></a></li>
                                            }
                                        }
                                    }
                                </ul>
                            </div>
                        </div>
                        <ul class="products-grid columns3">
                            @foreach (var product in Model.Items)
                            {
                                var url = "/" + product.Alias + ".p-" + product.ID + ".html";
                                var discount = Math.Round(double.Parse((100 - ((product.PromotionPrice / product.Price) * 100)).ToString()));
                                <li>
                                    <div class="product">
                                        <figure class="product-image-area">
                                            <a href="@url" title="@product.Name" class="product-image">
                                                <img src="@product.ThumbnailImage" alt="@product.Name">
                                                <img src="@product.ThumbnailImage" alt="@product.Name" class="product-hover-image">
                                            </a>
                                            <a href="#" class="product-quickview">
                                                <i class="fa fa-share-square-o"></i>
                                                <span>Quick View</span>
                                            </a>
                                            @if (discount > 0)
                                            {
                                                <div class="product-label"><span class="discount">-@discount%</span></div>
                                            }
                                        </figure>
                                        <div class="product-details-area">
                                            <h2 class="product-name"><a href="@url" title="@product.Name">@product.Name</a></h2>
                                            <div class="product-ratings">
                                                <div class="ratings-box">
                                                    <div class="rating" style="width:60%"></div>
                                                </div>
                                            </div>
                                            <div class="product-price-box">
                                                @if (product.PromotionPrice.HasValue)
                                                {
                                                    <span class="old-price">@product.PromotionPrice.Value.ToString("N0") đ</span>
                                                }
                                                <span class="product-price">@product.Price.ToString("N0") đ</span>
                                            </div>
                                            <div class="product-actions">
                                                <a href="#" class="addtowishlist" title="Add to Wishlist">
                                                    <i class="fa fa-heart"></i>
                                                </a>
                                                <a href="javascript:" class="addtocart btnAddToCart" title="Thêm Vào Giỏ Hàng" data-id="@product.ID">
                                                    <i class="fa fa-shopping-cart"></i>
                                                    <span>Thêm Vào Giỏ Hàng</span>
                                                </a>
                                                <a href="#" class="comparelink" title="Add to Compare">
                                                    <i class="glyphicon glyphicon-signal"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                        <div class="toolbar-bottom">
                            <div class="toolbar">
                                <div class="sorter">
                                    <ul class="pagination">
                                        @if (Model.TotalPages > 1)
                                        {
                                            var startPageIndex = Math.Max(1, Model.PageIndex - Model.MaxPage / 2);
                                            var endPageIndex = Math.Min(Model.TotalPages, Model.PageIndex + Model.MaxPage / 2);
                                            if (Model.PageIndex > 1)
                                            {
                                                if (!String.IsNullOrEmpty(sort))
                                                {
                                                    <li><a href="?page=1&sort=@sort"><i class="fa fa-angle-double-left"></i></a></li>
                                                    <li><a href="?page=@(Model.PageIndex-1)&sort=@sort"><i class="fa fa-caret-left"></i></a></li>
                                                }
                                                else
                                                {
                                                    <li><a href="?page=1"><i class="fa fa-angle-double-left"></i></a></li>
                                                    <li><a href="?page=@(Model.PageIndex-1)"><i class="fa fa-caret-left"></i></a></li>
                                                }
                                            }
                                            for (int i = startPageIndex; i <= endPageIndex; i++)
                                            {
                                                if (Model.PageIndex == i)
                                                {
                                                    if (!String.IsNullOrEmpty(sort))
                                                    {
                                                        <li class="active"><a href="?page=@i&sort=@sort" title="Trang @i">@i</a></li>
                                                    }
                                                    else
                                                    {
                                                        <li class="active"><a href="?page=@i" title="Trang @i">@i</a></li>
                                                    }
                                                }
                                                else
                                                {
                                                    if (!String.IsNullOrEmpty(sort))
                                                    {
                                                        <li><a href="?page=@i&sort=@sort" title="Trang @i">@i</a></li>
                                                    }
                                                    else
                                                    {
                                                        <li><a href="?page=@i" title="Trang @i">@i</a></li>
                                                    }
                                                }
                                            }
                                            if (Model.PageIndex < Model.TotalPages)
                                            {
                                                if (!String.IsNullOrEmpty(sort))
                                                {
                                                    <li><a href="?page=@(Model.PageIndex+1)&sort=@sort"><i class="fa fa-caret-right"></i></a></li>
                                                    <li><a href="?page=@Model.TotalPages&sort=@sort"><i class="fa fa-angle-double-right"></i></a></li>
                                                }
                                                else
                                                {
                                                    <li><a href="?page=@(Model.PageIndex+1)"><i class="fa fa-caret-right"></i></a></li>
                                                    <li><a href="?page=@Model.TotalPages"><i class="fa fa-angle-double-right"></i></a></li>
                                                }
                                            }
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <aside class="col-md-3 col-md-pull-9 sidebar shop-sidebar">
                        <h4>Featured</h4>
                        <div class="owl-carousel owl-theme" data-plugin-options="{'items':1, 'margin': 5, 'dots': false, 'nav': true}">
                            @for (var i = 0; i < ViewBag.FeaProducts.Count; i = i + 3)
                            {
                                var product = ViewBag.FeaProducts[i];
                                var url = "/" + product.Alias + ".p-" + product.ID + ".html";
                                <div>
                                    @if (i < ViewBag.FeaProducts.Count)
                                    {
                                        <div class="product product-sm">
                                            <figure class="product-image-area">
                                                <a href="@url" title="@product.Name" class="product-image">
                                                    <img src="@product.ThumbnailImage" alt="@product.Name">
                                                    <img src="@product.ThumbnailImage" alt="@product.Name" class="product-hover-image">
                                                </a>
                                            </figure>
                                            <div class="product-details-area">
                                                <h2 class="product-name"><a href="@url" title="@product.Name">@product.Name</a></h2>
                                                <div class="product-ratings">
                                                    <div class="ratings-box">
                                                        <div class="rating" style="width:0%"></div>
                                                    </div>
                                                </div>
                                                <div class="product-price-box">
                                                    <span class="product-price">@product.Price.ToString("N0") đ</span>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    @if (i + 1 < ViewBag.FeaProducts.Count)
                                    {
                                        product = ViewBag.FeaProducts[i + 1];
                                        url = "/" + product.Alias + ".p-" + product.ID + ".html";
                                        <div class="product product-sm">
                                            <figure class="product-image-area">
                                                <a href="@url" title="@product.Name" class="product-image">
                                                    <img src="@product.ThumbnailImage" alt="@product.Name">
                                                    <img src="@product.ThumbnailImage" alt="@product.Name" class="product-hover-image">
                                                </a>
                                            </figure>
                                            <div class="product-details-area">
                                                <h2 class="product-name"><a href="@url" title="@product.Name">@product.Name</a></h2>
                                                <div class="product-ratings">
                                                    <div class="ratings-box">
                                                        <div class="rating" style="width:0%"></div>
                                                    </div>
                                                </div>
                                                <div class="product-price-box">
                                                    <span class="product-price">@product.Price.ToString("N0") đ</span>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    @if (i + 2 < ViewBag.FeaProducts.Count)
                                    {
                                        product = ViewBag.FeaProducts[i + 2];
                                        url = "/" + product.Alias + ".p-" + product.ID + ".html";
                                        <div class="product product-sm">
                                            <figure class="product-image-area">
                                                <a href="@url" title="@product.Name" class="product-image">
                                                    <img src="@product.ThumbnailImage" alt="@product.Name">
                                                    <img src="@product.ThumbnailImage" alt="@product.Name" class="product-hover-image">
                                                </a>
                                            </figure>
                                            <div class="product-details-area">
                                                <h2 class="product-name"><a href="@url" title="@product.Name">@product.Name</a></h2>
                                                <div class="product-ratings">
                                                    <div class="ratings-box">
                                                        <div class="rating" style="width:0%"></div>
                                                    </div>
                                                </div>
                                                <div class="product-price-box">
                                                    <span class="product-price">@product.Price.ToString("N0") đ</span>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            }
                        </div>
                    </aside>
                </div>
            }
            else
            {
                <h1 class="text-center">Không Tìm Thấy Sản Phẩm</h1>
            }
        </div>
    </div>
</div>