@model Ecommerce.Web.Models.HomeViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layouts.cshtml";
}

@section footerJS{
    <script>
        $('.container .main-dropdown-menu').addClass('open');
    </script>
}

<div class="container">
    <div class="home-slider-container">
        <div class="col-md-9 col-md-offset-3">
            <div class="owl-carousel owl-theme" data-plugin-options="{'items':1, 'loop': false}">
                @foreach (var slide in Model.Slides)
                {
                    <div class="home-slide">
                        <img src="@slide.Image" alt="@slide.Name">
                        <div class="home-slide-content">
                            @Html.Raw(slide.Content)
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="homepage-bar">
        <div class="row">
            <div class="col-md-4">
                <i class="fa fa-truck bar-icon"></i>
                <div class="bar-textarea">
                    <h3>FREE SHIPPING &amp; RETURN</h3>
                    <p>Free shipping on all orders over $99.</p>
                </div>
            </div>
            <div class="col-md-4">
                <i class="fa fa-dollar bar-icon"></i>
                <div class="bar-textarea">
                    <h3>MONEY BACK GUARANTEE</h3>
                    <p>100% money back guarantee.</p>
                </div>
            </div>
            <div class="col-md-4">
                <i class="fa fa-support bar-icon"></i>
                <div class="bar-textarea">
                    <h3>ONLINE SUPPORT 24/7</h3>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="home-products-container">
        <ul class="products-grid columns4">
            @foreach (var product in Model.LastestProducts)
            {
                var url = "/" + product.Alias + ".p-" + product.ID + ".html";
                var discount = Math.Round(double.Parse((100 - ((product.PromotionPrice / product.Price) * 100)).ToString()));
                
                <li>
                    <div class="product">
                        <figure class="product-image-area">
                            <a href="@url" title="Product Name" class="product-image">
                                <img src="@product.ThumbnailImage" title="@product.Alias" alt="@product.Alias" />
                            </a>

                            <a href="#" class="product-quickview">
                                <i class="fa fa-share-square-o"></i>
                                <span>Quick View</span>
                            </a>
                            <div class="product-label"><span class="new">New</span></div>
                            @if (discount > 0)
                            {
                                <div class="product-label"><span class="discount">-@discount%</span></div>
                            }
                        </figure>
                        <div class="product-details-area">
                            <h2 class="product-name"><a href="demo-shop-12-product-details.html" title="Product Name">
                                @product.Name
                            </a></h2>
                            <div class="product-ratings">
                                <div class="ratings-box">
                                    <div class="rating" style="width:60%"></div>
                                </div>
                            </div>

                            <div class="product-price-box">
                                @if (product.PromotionPrice.HasValue)
                                {
                                    <span class="old-price">@product.PromotionPrice.Value.ToString("N0") đ</span>
                                }
                                <span class="product-price">@product.Price.ToString("N0") đ</span>
                            </div>

                            <div class="product-actions">
                                <a href="#" class="addtowishlist" title="Add to Wishlist">
                                    <i class="fa fa-heart"></i>
                                </a>
                                <a href="#" class="addtocart" title="Add to Cart">
                                    <i class="fa fa-shopping-cart"></i>
                                    <span>Add to Cart</span>
                                </a>
                                <a href="#" class="comparelink" title="Add to Compare">
                                    <i class="glyphicon glyphicon-signal"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>

<div class="container">
    <div class="banner-container">
        <a href="#" class="banner">
            <img src="/Assets/images/demos/shop/banners/shop12/banner1.jpg" alt="Banner">
        </a>
    </div>
</div>

<div class="one-product-container">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="one-product">
                    <h3>Sản Phẩm Nổi Bật</h3>

                    <div class="owl-carousel owl-theme" data-plugin-options="{'items':1, 'loop': false}">
                        @foreach (var product in Model.FeaProducts)
                        {
                            var url = "/" + product.Alias + ".p-" + product.ID + ".html";
                            var discount = Math.Round(double.Parse((100 - ((product.PromotionPrice / product.Price) * 100)).ToString()));
                            <div class="product">
                                <figure class="product-image-area">
                                    <a href="@url" title="Product Name" class="product-image">
                                        <img src="@product.ThumbnailImage" alt="@product.Name" title="@product.Name">
                                    </a>

                                    <a href="#" class="product-quickview">
                                        <i class="fa fa-share-square-o"></i>
                                        <span>Quick View</span>
                                    </a>
                                    <div class="product-label"><span class="new">Hot</span></div>
                                    @if (discount > 0)
                                    {
                                        <div class="product-label"><span class="discount">-@discount%</span></div>
                                    }
                                </figure>
                                <div class="product-details-area">
                                    <h2 class="product-name"><a href="@url" title="@product.Name">@product.Name</a></h2>
                                    <div class="product-ratings">
                                        <div class="ratings-box">
                                            <div class="rating" style="width:60%"></div>
                                        </div>
                                    </div>

                                    <div class="product-price-box">
                                        @if (product.PromotionPrice.HasValue)
                                        {
                                            <span class="old-price">@product.PromotionPrice.Value.ToString("N0") đ</span>
                                        }
                                        <span class="product-price">@product.Price</span>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="one-product">
                    <h3>Khuyến Mãi</h3>

                    <div class="owl-carousel owl-theme" data-plugin-options="{'items':1, 'loop': false}">
                        @foreach (var product in Model.SalesProducts)
                        {
                            var url = "/" + product.Alias + ".p-" + product.ID + ".html";
                            var discount = Math.Round(double.Parse((100 - ((product.PromotionPrice / product.Price) * 100)).ToString()));
                            <div class="product">
                                <figure class="product-image-area">
                                    <a href="@url" title="Product Name" class="product-image">
                                        <img src="@product.ThumbnailImage" alt="@product.Name" title="@product.Name">
                                    </a>

                                    <a href="#" class="product-quickview">
                                        <i class="fa fa-share-square-o"></i>
                                        <span>Quick View</span>
                                    </a>
                                    <div class="product-label"><span class="new">Sale</span></div>
                                    @if (discount > 0)
                                    {
                                        <div class="product-label"><span class="discount">-@discount%</span></div>
                                    }
                                </figure>
                                <div class="product-details-area">
                                    <h2 class="product-name"><a href="@url" title="@product.Name">@product.Name</a></h2>
                                    <div class="product-ratings">
                                        <div class="ratings-box">
                                            <div class="rating" style="width:60%"></div>
                                        </div>
                                    </div>

                                    <div class="product-price-box">
                                        @if (product.PromotionPrice.HasValue)
                                        {
                                            <span class="old-price">@product.PromotionPrice.Value.ToString("N0") đ</span>
                                        }
                                        <span class="product-price">@product.Price</span>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="one-product">
                    <h3>Sản Phẩm Mới</h3>

                    <div class="owl-carousel owl-theme" data-plugin-options="{'items':1, 'loop': false}">
                        @foreach (var product in Model.NewProducts)
                        {
                            var url = "/" + product.Alias + ".p-" + product.ID + ".html";
                            var discount = Math.Round(double.Parse((100 - ((product.PromotionPrice / product.Price) * 100)).ToString()));
                            <div class="product">
                                <figure class="product-image-area">
                                    <a href="@url" title="Product Name" class="product-image">
                                        <img src="@product.ThumbnailImage" alt="@product.Name" title="@product.Name">
                                    </a>

                                    <a href="#" class="product-quickview">
                                        <i class="fa fa-share-square-o"></i>
                                        <span>Quick View</span>
                                    </a>
                                    <div class="product-label"><span class="new">New</span></div>
                                    @if (discount > 0)
                                    {
                                        <div class="product-label"><span class="discount">-@discount%</span></div>
                                    }
                                </figure>
                                <div class="product-details-area">
                                    <h2 class="product-name"><a href="@url" title="@product.Name" >@product.Name</a></h2>
                                    <div class="product-ratings">
                                        <div class="ratings-box">
                                            <div class="rating" style="width:60%"></div>
                                        </div>
                                    </div>

                                    <div class="product-price-box">
                                        @if (product.PromotionPrice.HasValue)
                                        {
                                            <span class="old-price">@product.PromotionPrice.Value.ToString("N0") đ</span>
                                        }
                                        <span class="product-price">@product.Price</span>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="banners-container">
        <div class="row">
            <div class="col-xs-6 col-sm-3">
                <a href="#" class="banner">
                    <img src="/Assets/images/demos/shop/banners/shop3/banner3.jpg" alt="Banner" style="max-height: 215px;">
                </a>
            </div>
            <div class="col-xs-6 col-sm-3">
                <a href="#" class="banner">
                    <img src="/Assets/images/demos/shop/banners/shop10/banner2.jpg" alt="Banner">
                </a>
            </div>

            <div class="clearfix visible-xs"></div>

            <div class="col-xs-6 col-sm-3">
                <a href="#" class="banner">
                    <img src="/Assets/images/demos/shop/banners/shop3/banner5.jpg" alt="Banner" style="max-height: 215px;">
                </a>
            </div>
            <div class="col-xs-6 col-sm-3">
                <a href="#" class="banner">
                    <img src="/Assets/images/demos/shop/banners/shop10/banner4.jpg" alt="Banner">
                </a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="home-products-carousel-container">
        <h2 class="slider-title">
            <span class="inline-title">HOT PRODUCT</span>
        </h2>

        <div class="owl-carousel owl-theme manual home-products-carousel">
            @foreach (var product in Model.HotProducts)
            {
                var url = "/" + product.Alias + ".p-" + product.ID + ".html";
                var discount = Math.Round(double.Parse((100 - ((product.PromotionPrice / product.Price) * 100)).ToString()));
                <div class="product">
                    <figure class="product-image-area">
                        <a href="@url" title="@product.Name" class="product-image">
                            <img src="@product.ThumbnailImage" alt="@product.Name">
                            <img src="@product.ThumbnailImage" alt="@product.Name" class="product-hover-image">
                        </a>

                        <a href="#" class="product-quickview">
                            <i class="fa fa-share-square-o"></i>
                            <span>Quick View</span>
                        </a>
                        @if (discount > 0)
                        {
                            <div class="product-label"><span class="discount">-@discount%</span></div>
                        }
                    </figure>
                    <div class="product-details-area">
                        <h2 class="product-name"><a href="@url" title="@product.Name">@product.Name</a></h2>
                        <div class="product-ratings">
                            <div class="ratings-box">
                                <div class="rating" style="width:60%"></div>
                            </div>
                        </div>

                        <div class="product-price-box">
                            @if (product.PromotionPrice.HasValue)
                            {
                                <span class="old-price">@product.PromotionPrice.Value.ToString("N0") đ</span>
                            }
                            <span class="product-price">@product.Price.ToString("N0") đ</span>
                        </div>

                        <div class="product-actions">
                            <a href="#" class="addtowishlist" title="Add to Wishlist">
                                <i class="fa fa-heart"></i>
                            </a>
                            <a href="#" class="addtocart" title="Add to Cart">
                                <i class="fa fa-shopping-cart"></i>
                                <span>Add to Cart</span>
                            </a>
                            <a href="#" class="comparelink" title="Add to Compare">
                                <i class="glyphicon glyphicon-signal"></i>
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>